/* these styles override the styles in the "react-grid-layout" module */

.GridCard {
    /* centers contents x & y */
    display: flex;
    flex-direction: column;
    justify-content: space-between;  /* x align - left/rightalign -  horizontal align  */ 
    align-items: center;    /* y align  - up/down aling -  vertical/column aign */
    border: solid black 1px;
    border-radius: 22;
}

.GridCardContent {
    align-self: center; /* alternative to justify-self: center; */
    justify-self: auto; /* alternative to justify-self: center; */
    margin-top: 0px;
    margin-bottom: 0px;
}

.dragHandleClass {
    align-self: flex-start;
    width: 100%;
    height: 25px;
    background-color: grey;
}