.GridCard {
    /* centers contents x & y */
    display: flex;
    justify-content: center;
    align-items: center;
    /**/
    border: solid black 1px;
    border-radius: 22;
}

.GridCardContent {
    text-align: center
}